
# PG
PG_Host=localhost 
PG_USER=postgres
PG_PASSWORD=none
PG_Databse=TripMate

# JWT 
JWT_SECRET=oiasdfj@903842-
UTIL_SECRET=dsjfnasdkfnjkjadfns

#mail
MAIL_ID=hamroghar531@gmail.com
MAIL_PASS=

# Frontend
FRONT_URL=http://localhost:4200