
# PG
PG_Host=XXXXXXXXXXXXXXXX 
PG_USER=XXXXXXXXXXXXXXXX
PG_PASSWORD=XXXXXXXXXXXXXXXX
PG_Databse=XXXXXXXXXXXXXXXX

# JWT 
JWT_SECRET=XXXXXXXXXXXXXXXxxxx
UTIL_SECRET=XXXXXXXXXXXXXXXX

#mail
MAIL_ID=XXXXXXXXXXXXXXXX
MAIL_PASS=XXXXXXXXXXXXXXXX

# Frontend
FRONT_URL=XXXXXXXXXXXXXXXX